
.card-header {
    background-color: lightskyblue;
    color: white;
}

.card-body {
    background-color: whitesmoke;
    text-align: left;
}

.card-title {
    text-align: left;
    color: black;
}

.card-deck {
    text-align: center;
    justify-content: space-evenly;
    margin: 50px;
}

.header {
    background-color: brown;
    height: 200px;
}

h1 {
    text-align: center;
    color: white;
}