
.card-header {
    background-color: lightskyblue;
    color: white;
}

.card-body {
    background-color: whitesmoke;
}

.card-title {
    background-color: gainsboro;
}

.card-deck {
    text-align: center;
}