
.card-header {
    background-color:  #6495ED !important;
    text-align: left;
}

.card-body {
    text-align: left;
}

.card-deck {
    text-align: center;
    place-content: space-evenly;
    margin: 50px;
    padding: auto;
}

.card {
    box-shadow: 5px 5px black;
    border-radius: 6px;
    max-width: 18rem;
}

.header {
    background-color: #6495ED;
    height: 200px;
}

h1 {
    text-align: center;
    color: white;
    padding: 70px;
}

h5 {
    color: white;
}

h6 {
    text-align: center;
    color: black;
}

i {
    padding: 5px;
}
